/* Split Css below into sections sperated by comments */

/* Toolbar */

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 4px;
}

.toolbar button {
    border: none;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.toolbar button.is-active {
    background-color: #c2c2c2;
    font-weight: bold;
}

.toolbar button.is-active:hover {
    background-color: #b1b1b1;
}

.toolbar button:hover {
    background-color: #eee;
}

.toolbar button:disabled {
    background-color: #fff;
    color: #ccc;
    cursor: auto;
}

.toolbar div.group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-content: center;
}

.toolbar div.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toolbar div.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-top: 2px;
    margin-left: -2px;
    font-size: 12px;
    outline: none;
    text-align: center;
    flex-direction: column;
}

.toolbar div.dropdown:hover div.dropdown-content {
    display: flex;
}


/* Note Container */

.note-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2px;
}

/* Mouse Overlay Bubble */

.mouse-overlay {
    font-size: large;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    gap: 1px;
    padding: 1px;
    border: 1px solid #ccc;
}

.mouse-overlay button {
    border: none;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

.mouse-overlay button.is-active {
    background-color: #c2c2c2;
    font-weight: bold;
}

.mouse-overlay button.is-active:hover {
    background-color: #b1b1b1;
}

.mouse-overlay button:hover {
    background-color: #eee;
}




/* Tip Tap */

.tiptap {
    padding: 6px;
    border: none;
    outline: none;
    height: 100%;
    cursor: text;
}

.tiptap:focus {
    background-color: #fff;
}

.tiptap a {
    cursor: pointer;
}

/* Utilty */
.divider {
    border-left: 1px solid #ccc;
    margin: 4px 0;
}