@import url("./var.css");

/* Toolbar */

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 4px;
    border: 1px solid var(--border);
    border-radius: 2px;
    background-color: var(--background-secondary);
    margin: 0 4px;
}

.toolbar button {
    border: none;
    background-color: var(--background-secondary);
    padding: 2px 4px;
    border-radius: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text)
}


.toolbar button.is-active {
    background-color: var(--hover-secondary);
    font-weight: bold;
}

.toolbar button.is-active:hover {
    background-color: var(--hover-secondary);
}

.toolbar button:hover {
    background-color: var(--hover);
}

.toolbar button:disabled {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    cursor: auto;
}

.toolbar div.group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-content: center;
}

.toolbar div.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toolbar div.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-secondary);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 2px;
    border: 1px solid var(--border);
    padding: 2px;
    margin-left: -2px;
    font-size: 12px;
    outline: none;
    text-align: center;
    flex-direction: row;
    gap: 2px;
    align-content: center;
}

.toolbar div.dropdown:hover div.dropdown-content {
    display: flex;
}


/* Note Container */

.note-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2px;
    padding: 4px;
}

/* Mouse Overlay Bubble */

.mouse-overlay {
    font-size: large;
    background-color: var(--background-secondary);
    border-radius: 2px;
    display: flex;
    gap: 1px;
    padding: 1px;
    border: 1px solid var(--border);
}

.mouse-overlay button {
    border: none;
    background-color: var(--background-secondary);
    padding: 2px 4px;
    border-radius: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

.mouse-overlay button.is-active {
    background-color: var(--hover-secondary);
    font-weight: bold;
}

.mouse-overlay button.is-active:hover {
    background-color: var(--hover-secondary);
}

.mouse-overlay button:hover {
    background-color: var(--hover);
}

/* Tip Tap */

.tiptap {
    padding: 6px;
    border: none;
    outline: none;
    height: 100%;
    cursor: text;
    color: var(--text);
}

.tiptap .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--text-secondary);
    pointer-events: none;
    height: 0;
}

.tiptap:focus {
    background-color: var(--background)
}

.tiptap a {
    cursor: pointer;
}

.tiptap ul,
ol {
    margin-left: 20px;
}

.tiptap ul {
    list-style-type: disc;
}

.tiptap ol {
    list-style-type: decimal;
}

/* Utilty */
.divider {
    border-left: 1px solid var(--border);
    margin: 4px 0;
}