@import url("./var.css");

.folder-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    color: var(--text);
}