@import url("./var.css");


.note-summary {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background-secondary);
}

.note-summary:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.note-summary-title-container {
    display: flex;
    justify-content: space-between;
}

.note-summary-title {
    font-weight: bold;
}

.note-summary-date {
    font-size: 0.7em;
    color: var(--text-secondary);
}

.note-summary-content {
    margin-top: 4px;
    font-size: 0.9em;
    color: var(--text-secondary);
}

.note-summary-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text);
}

.note-summary-button:hover {
    cursor: pointer;
    color: var(--text-secondary);
}

.summary-menu {
    display: relative;
}

.summary-menu-panel {
    position: absolute;
    right: 0;
    margin: 0px 4px;
    z-index: 100;
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.summary-group {
    display: flex;
    margin-bottom: 0.5rem;
}