@import url("./var.css");

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sidebar div.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}

/* Button */
.sidebar button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--background-secondary);
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar button:hover {
    background-color: var(--hover);
}

.sidebar button.is-active {
    background-color: var(--hover-secondary);
    color: var(--text-secondary);
}

.sidebar button.is-active:hover {
    background-color: var(--hover-secondary);
}

.sidebar button:disabled {
    background-color: var(--background-secondary);
    color: #ccc;
    cursor: auto;
}