html {
    --background: #f4f5f5;
    --background-secondary: #fff;

    --hover: #eee;
    --hover-secondary: #ddd;

    --text: #270c02;
    --text-secondary: #666;

    --border: #043a4f;
    --border-secondary: #ddd;

    --primary: #12b3f3;
    --primary-hover: #0069d9;

    --secondary: #cdbdfa;
}